{{- /*
Copyright 2024 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
*/ -}}

{{- with $.Values.matrixRTC -}}
{{- if .enabled -}}
{{- with .sfu -}}
{{- if and .enabled .exposedServices.rtcMuxedUdp.enabled (ne .exposedServices.rtcMuxedUdp.portType "HostPort") -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "element-io.matrix-rtc-sfu.labels" (dict "root" $ "context" (mustMergeOverwrite (dict "suffix" "-rtc") .)) | nindent 4 }}
  {{- with .exposedServices.rtcMuxedUdp.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ $.Release.Name }}-matrix-rtc-sfu-muxed-udp
  namespace: {{ $.Release.Namespace }}
spec:
  type: {{ .exposedServices.rtcMuxedUdp.portType }}
  {{- if hasKey .exposedServices.rtcMuxedUdp "externalIPs" }}
  externalIPs: {{ .exposedServices.rtcMuxedUdp.externalIPs | toYaml | nindent 4 }}
  {{- end }}
  ipFamilyPolicy: PreferDualStack
  internalTrafficPolicy: {{ .exposedServices.rtcMuxedUdp.internalTrafficPolicy }}
  externalTrafficPolicy: {{ .exposedServices.rtcMuxedUdp.externalTrafficPolicy }}
  ports:
  - name: "rtc-muxed-udp"
    protocol: "UDP"
    port: {{ .exposedServices.rtcMuxedUdp.port }}
    targetPort: {{ .exposedServices.rtcMuxedUdp.port }}
    {{- with .exposedServices.rtcMuxedUdp.nodePort }}
    nodePort: {{ tpl . (dict "context" $.Values.matrixRTC.sfu.exposedServices.rtcMuxedUdp "root" $) }}
    {{- end }}
  selector:
    app.kubernetes.io/instance: "{{ $.Release.Name }}-matrix-rtc-sfu"
{{- end }}
{{- end }}
{{- end }}
{{- end }}
