{{- /*
Copyright 2024 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
*/ -}}

{{- with $.Values.matrixRTC -}}
{{- if .enabled -}}
{{- with .sfu -}}
{{- if and .enabled .exposedServices.rtcTcp.enabled (ne .exposedServices.rtcTcp.portType "HostPort") -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "element-io.matrix-rtc-sfu.labels" (dict "root" $ "context" (mustMergeOverwrite (dict "suffix" "-rtc") .)) | nindent 4 }}
  {{- with .exposedServices.rtcTcp.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ $.Release.Name }}-matrix-rtc-sfu-tcp
  namespace: {{ $.Release.Namespace }}
spec:
  type: {{ .exposedServices.rtcTcp.portType }}
  ipFamilyPolicy: PreferDualStack
  {{- if hasKey .exposedServices.rtcTcp "externalIPs" }}
  externalIPs: {{ .exposedServices.rtcTcp.externalIPs | toYaml | nindent 4 }}
  {{- end }}
  internalTrafficPolicy: {{ .exposedServices.rtcTcp.internalTrafficPolicy }}
  externalTrafficPolicy: {{ .exposedServices.rtcTcp.externalTrafficPolicy }}
  ports:
  - name: "rtc-tcp"
    protocol: "TCP"
    port: {{ .exposedServices.rtcTcp.port }}
    targetPort: {{ .exposedServices.rtcTcp.port }}
    {{- with .exposedServices.rtcTcp.nodePort }}
    nodePort: {{ tpl . (dict "context" $.Values.matrixRTC.sfu.exposedServices.rtcTcp "root" $) }}
    {{- end }}
  selector:
    app.kubernetes.io/instance: "{{ $.Release.Name }}-matrix-rtc-sfu"
{{- end }}
{{- end }}
{{- end }}
{{- end }}
