{{- /*
Copyright 2024-2025 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
*/ -}}

{{- with $.Values.matrixRTC -}}
{{- if .enabled -}}
{{- with .sfu -}}
{{- if .enabled -}}
apiVersion: v1
kind: Service
metadata:
{{- include "element-io.ess-library.ingress-service.annotations" (dict "root" $ "context" $.Values.matrixRTC.ingress) | nindent 2 }}
  labels:
    {{- include "element-io.matrix-rtc-sfu.labels" (dict "root" $ "context" .) | nindent 4 }}
  name: {{ $.Release.Name }}-matrix-rtc-sfu
  namespace: {{ $.Release.Namespace }}
spec:
{{- include "element-io.ess-library.ingress-service.spec" (dict "root" $ "context" $.Values.matrixRTC.ingress) | nindent 2 }}
  ports:
  - name: http
    port: 7880
    targetPort: http
  - name: metrics
    port: 6789
    targetPort: metrics
  selector:
    app.kubernetes.io/instance: "{{ $.Release.Name }}-matrix-rtc-sfu"
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
