{#
Copyright 2025 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
#}


{% import 'sub_schema_values.yaml.j2' as sub_schema_values -%}

enabled: true

# Number of Element Admin replicas to start up
replicas: 1
{{- sub_schema_values.image(registry='oci.element.io', repository='element-admin', tag='0.1.10') -}}
{{- sub_schema_values.ingress() -}}
{{- sub_schema_values.labels() -}}
{{- sub_schema_values.workloadAnnotations() -}}
{{- sub_schema_values.extraEnv() -}}
{{- sub_schema_values.extraVolumes("Element Admin") }}
{{- sub_schema_values.extraVolumeMounts("Element Admin") }}
{{- sub_schema_values.extraInitContainers("Element Admin") }}
{{- sub_schema_values.containersSecurityContext() -}}
{{- sub_schema_values.nodeSelector() -}}
{{- sub_schema_values.podSecurityContext(user_id='10104', group_id='10104') -}}
{{- sub_schema_values.resources(requests_memory='50Mi', requests_cpu='50m', limits_memory='200Mi') -}}
{{- sub_schema_values.serviceAccount() -}}
{{- sub_schema_values.tolerations() -}}
{{- sub_schema_values.topologySpreadConstraints() }}
{{- sub_schema_values.probe("liveness") }}
{{- sub_schema_values.probe("readiness") }}
{{- sub_schema_values.probe("startup") }}
