# Copyright 2026 Element Creations Ltd
#
# SPDX-License-Identifier: AGPL-3.0-only

hookshot:
  podSecurityContext:
    runAsGroup: 0

  logging:
    level: debug
  extraEnv:
  - name: DEBUG_RENDERING
    value: "1"

  additional:
    user-config.yaml:
      config: |
        generic:
          enabled: true
          outbound: true # For outbound webhook support
          allowJsTransformationFunctions: false
          waitForComplete: true
          enableHttpGet: false
          allowedIpRanges:
          - 10.0.0.0/8
          openIdOverrides:
            {{ $.Values.serverName | quote }}: "http://{{- $.Release.Name }}-synapse.{{ $.Release.Namespace }}.svc.{{ $.Values.clusterDomain }}:8008"
    permissions.yaml:
      config: |
        # Permissions are ordered this way so that we can easily see that they aren't appended to the default
        # which is identical to the middle item in the array
        permissions:
        - actor: "@user1:{{ $.Values.serverName }}"
          services:
          - service: "*"
            level: admin
        - actor: {{ $.Values.serverName | quote }}
          services:
          - service: "*"
            level: manageConnections
        - actor: "@user2:{{ $.Values.serverName }}"
          services:
          - service: "*"
            level: admin
